<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    
    
    <add key="Browser" value="Chrome" />
    
     <add key="Urlone" value="https://economictimes.indiatimes.com/" />
    
     <add key="Urltwo" value="https://economictimes.indiatimes.com/" />
    
    
     <add key="Urlthree" value="https://economictimes.indiatimes.com/" />  
    
     <add key="Urlfour" value="https://economictimes.indiatimes.com/" />
    
    
     <!--<add key="Urltwo" value="https://www.indiatvnews.com/"/>
    
    
     <add key="Urlthree" value="https://www.ndtv.com/"/>  
    
     <add key="Urlfour" value="https://zeenews.india.com/"/>-->
    
    
    
    
    
   <add key="UserName" value="mugundhan.kaliyaperumal@gartner.com" />
    
   <add key="Password" value="Password@1234" />
    
    <add key="PageLoadTimeout" value="80" />
    
    <add key="ElementLoadTimeout" value="2" />

  </appSettings>
  
  
  <runtime>
  
  
          <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
  
  
                  </dependentAssembly>
  
  
                  <dependentAssembly>
  
  
                          <assemblyIdentity name="RazorEngine" publicKeyToken="9ee697374c7e744a" culture="neutral" />
  
  
                          <bindingRedirect oldVersion="0.0.0.0-3.10.0.0" newVersion="3.10.0.0" />
  
  
                  </dependentAssembly>
  
  
          </assemblyBinding>
  
  
  </runtime>
</configuration>